@source "../../../packages/ui";

@import "@gyeongmaetalk/tailwind-config";

/* Pretendard Variable 폰트 정의 */
@font-face {
  font-family: "Pretendard Variable";
  src: url("./fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --spacing-mobile: 600px;
  --spacing-header: 44px;
  --spacing-ios-bottom: env(safe-area-inset-bottom);
  --spacing-ios-top: env(safe-area-inset-top);

  --aspect-image: 3 / 2;

  --color-toast: #7a8088;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  img {
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    pointer-events: auto;
  }
  body {
    @apply bg-background text-foreground max-w-mobile mx-auto;
  }
}
