@source "../../../../packages/ui";

@import "@gyeongmaetalk/tailwind-config";

@keyframes service-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-101%);
  }
}
@keyframes service-marquee-secondary {
  0% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(0);
  }
}

@layer utilities {
  .service-features-track-primary,
  .service-features-track-secondary {
    display: inline-flex;
    width: max-content;
    will-change: transform;
  }
  .service-features-track-primary {
    animation: service-marquee 12s linear infinite;
  }

  .service-features-track-secondary {
    animation: service-marquee-secondary 12s linear infinite;
  }
}

.dash-divider {
  background-image: linear-gradient(to bottom, currentColor 50%, transparent 50%);
  background-size: 1px 10px;
  background-repeat: repeat-y;
}

.dash-divider-horizontal {
  background-image: linear-gradient(to right, currentColor 50%, transparent 50%);
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
